<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Księga gości</title>
</head>
<body>
    <h1>Strona główna</h1>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="imie" placeholder="Imię"><br><br>

        <input type="text" name="wiadomosc" placeholder="Wiadomość"><br><br>

        <button type="submit">Wyślij</button>
    </form>

    <hr>

    <h2>Wpisy</h2>

    {% if wpisy %}
        <ul>
            {% for wpis in wpisy %}
                <li>
                    <strong>{{ wpis.imie }}</strong>: {{ wpis.wiadomosc }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Brak wpisów. Smuteczek.</p>
    {% endif %}

</body>
</html>